main {
  background-color: #F4EAF5; }

.section_cards-productos {
  background-color: #E6CDFC; }
  .section_cards-productos p {
    color: gray; }

.section_entrega {
  background-color: orange; }

header {
  background-color: #FFFF; }

nav {
  background-color: #F28773; }
  nav ul {
    display: block;
    background-color: #F28773;
    width: auto;
    height: auto; }

footer {
  background-color: #F28773; }
  footer p {
    color: gray; }

.boton, .boton__contacto {
  background-color: #3503C9;
  text-align: center;
  color: beige;
  border-radius: 20px;
  border: 1px;
  margin: 20px;
  display: block;
  width: 50%;
  height: auto; }

.boton__contacto {
  background-color: #A3ABFF; }

h1 {
  color: #442b8e; }

h2 {
  color: #442b8e; }

h3 {
  color: #442b8e; }

h4 {
  color: #442b8e; }

h5 {
  color: #442b8e; }

h6 {
  color: #442b8e; }

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #442b8e; }

p {
  font-size: 20px; }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 24px; } }

nav {
  font-size: 16px; }
  @media screen and (min-width: 1024px) {
    nav {
      font-size: 20px; } }

h1 {
  font-size: 24px; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 32px; } }
