main {
  background-color: #fcb879; }

header {
  background-color: #F71735; }

ul li {
  padding: 15px; }
  ul li a {
    text-decoration: bold;
    font-size: 16px; }
    @media only screen and (min-width: 1024px) {
      ul li a {
        display: inline-block;
        font-size: 22px;
        display: inline-block; } }

footer {
  font-weight: bold;
  font-size: 16px;
  margin: 24px;
  padding: 23px;
  color: beige;
  background-image: url(../Assets/fondofooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.productos {
  margin: 15px;
  padding: 15px;
  background-color: cornflowerblue;
  font-size: 20px;
  border-style: dotted;
  width: auto;
  height: auto; }

.section_servicios {
  background-color: #f8d8dd;
  position: 50px; }

.section_contacto {
  text-align: center;
  text-decoration: underline;
  font-size: 24px; }

h1 {
  color: blue;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 10px; }

p {
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

ul {
  font-size: 22px; }

h2 {
  color: #B695C0;
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 15px; }

img {
  border-radius: 25px;
  width: fit-content; }

.logo {
  border-radius: 50%;
  align-items: center;
  height: 150x; }
