$primary-color: #442b8e;
$secondary-color: #F4EAF5;
$tipografia-color:#442b8e;
$tipografia-color_2:#FFEDF9;
$tipografia-color_3:gray;
$hoove-color: gray;
$background-color:#F0BBF5;
$background-color2:#F4EAF5;
$menu-color: #FC9286;
$footer-color:#FC9286;
$button-color: #3503C9;
$button_2:#E68774;
$color_paqueteria: #308476;










