$primary-color: #442b8e;
$secondary-color: #F4EAF5;
$tipografia-color:#442b8e;
$tipografia-color_2:#3D0575;
$background-color:#F4EAF5;
$tipografia-color_3: gray;
$hoove-color: #424242;
$background-color:#F4EAF5;
$background-color2:#E6CDFC;
$menu-color:	#F28773;
$footer-color:	#F28773;
$button-color: #3503C9;
$button_2:#A3ABFF;
$color_paqueteria:orange;












