.productos {
    margin: 15px;
    padding: 15px;
    background-color: cornflowerblue;
    font-size: 20px;
    border-style: dotted;
    width: auto;
    height: auto; 
}
  
  .section_servicios {
    background-color: #f8d8dd;
    position: 50px; }
  