header {
     background-color: #FFFF;
    
}

     
     nav {
     background-color:$menu-color;

     
     ul {

         display: block;
          background-color:$menu-color;
          width:auto;
          height: auto;
     }

}