header {
     background-color: $primary-color;

nav ul li {
     padding: 15px;
     text-decoration: bold;

     @media only screen and (min-width:1024px) {
         nav ul li{font-size: 22px;
               display: inline-block;
               position: sticky;}
          }
     }
}
     
     
